[submodule "schedule/static/schedule/lib/fullcalendar3"]
	path = schedule/static/schedule/lib/fullcalendar3
	url = https://github.com/fullcalendar/fullcalendar.git
[submodule "schedule/static/schedule/less/vendor/bootstrap3"]
	path = schedule/static/schedule/less/vendor/bootstrap3
	url = https://github.com/twbs/bootstrap.git
