{% load sekizai_tags i18n %}

<table id="{% if resolved %}resolved_table{% else %}pending_table{% endif %}" class="custom-table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="text-center">{% trans "Swap id" %}</th>
        <th class="text-center">{% trans "Date of swap" %}</th>
        <th class="text-center">{% trans "Sender name" %}</th>
        <th class="text-center">{% trans "Receiver name" %}</th>
        <th class="text-center">{% trans "Sender date" %}</th>
        <th class="text-center">{% trans "Receiver date" %}</th>
        <th class="text-center">{% trans "Sender shift time" %}</th>
        <th class="text-center">{% trans "Receiver shift time" %}</th>
        <th class="text-center">{% trans "Actions" %}</th>

      </tr>
    </thead>
    <tbody class="text-center">
      {% for swap in swap_list %}
        <tr bgcolor="{% if resolved and swap.status %}#58D68D{% elif resolved and not swap.status %}#F4511E{% endif %}">
          <td>{{ swap.pk }}</td>
          <td>{{ swap.date }}</td>
          <td>{{ swap.schedule_2.user }}</td>
          <td>{{ swap.schedule_1.user }}</td>
          <td>{{ swap.schedule_2.date }}</td>
          <td>{{ swap.schedule_1.date }}</td>

          <td>
            {% if swap.schedule_2.get_time_shift %}
              {{ swap.schedule_2.get_time_shift }}
            {% endif %}
          </td>

          <td>
            {% if swap.schedule_1.get_time_shift %}
              {{ swap.schedule_1.get_time_shift }}
            {% endif %}
          </td>


          <td class="actions-table">
            {# Resolved swaps #}
            {% if resolved %}
              {% if not swap.schedule_1.is_past and not swap.schedule_2.is_past and user.user.is_staff %}
                {% if swap.status %}
                    <a href="{% url 'revert_swap_view' group_id=group.pk swap_id=swap.pk %}"><button type="button" class="btn btn-danger" title="{% trans 'Revert swap' %}"><span class="glyphicon glyphicon-remove"></span></button></a>
                {% else %}
                  <a href="{% url 'confirm_swap_view' group_id=group.pk swap_id=swap.pk %}"><button type="button" class="btn btn-success" title="{% trans 'Approve swap' %}"><span class="glyphicon glyphicon-ok"></span></button></a>
                {% endif %}
              {% else %}
                <button type="button" class="btn transparent-bgcolor" disabled><span class="glyphicon glyphicon-lock"></span></button>
             {% endif %}
            {# Pending swaps #}
            {% else %}
              {% if swap.schedule_1.user == request.user.user_profile and not swap.receiver_status %}
                <a href="{% url 'confirm_receiver_swap_view' group_id=group.pk swap_id=swap.pk %}"><button type="button" class="btn btn-success" title="{% trans 'Confirm swap' %}"><span class="glyphicon glyphicon-ok"></span></button></a>
              {% endif %}
              {% if not request.user.is_staff %}
                <a href="{% url 'reject_receiver_swap_view' group_id=group.pk swap_id=swap.pk %}"><button class="btn btn-danger" title="{% trans 'Reject swap' %}"><span class="glyphicon glyphicon-remove"></span></button></a>
              {# if staff or superuser #}
              {% else %}
                {# If employees agree #}
                {% if swap.receiver_status %}
                  <a href="{% url 'confirm_swap_view' group_id=group.pk swap_id=swap.pk %}"><button type="button" class="btn btn-success" title="{% trans 'Confirm swap' %}"><span class="glyphicon glyphicon-ok"></span></button></a>
                {% else %}
                  <a href="{% url 'reject_swap_view' group_id=group.pk swap_id=swap.pk %}"><button class="btn btn-danger" title="{% trans 'Reject swap' %}"><span class="glyphicon glyphicon-remove"></span></button></a>
              {% endif %}
            {% endif %}
          </td>
          {% endif %}
        </tr>
      {% endfor %}
   </tbody>
  </table>