.divider-right {
  margin-right: 10px;
}

.divider-left {
  margin-left: 10px;
}

// transparent background
.transparent-bgcolor {
  background-color: Transparent;
}

.text-center {
  text-align: center;
}