.divider-right {
  margin-right: 10px;
}

.divider-left {
  margin-left: 10px;
}

.divider-top {
  margin-top: 10px;
}

// transparent background
.transparent-bgcolor {
  background-color: Transparent;
}

.text-center {
  text-align: center;
}

.modal {
  .text-center;
}

.vertical-alignment-middle {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    .vertical-alignment-middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  .text-center;
  vertical-align: middle;
}