{% extends "schedule/base.html" %}
{% load i18n crispy_forms_tags sekizai_tags %}

{% crispy ShiftForm ShiftForm.helper %}

{% block "content" %} 
  <form id="add_shift_form" class="uniForm" method="post">
    {% csrf_token %}
    {% crispy form %}
  </form>
  <div class="container" id="calendar"></div>
  <button id="submitButton" type="button" class="btn divider-top" onclick="getElementById('add_shift_form').submit();">{% trans "Create new shift" %}</button>

{% addtoblock "js" %}
  <script type="text/javascript">
    $(document).ready(function() {
      var calendar = $('#calendar').fullCalendar({
        locale: 'hr',
        header: {
          left: '',
          center: '',
          right: '',
        },
        // Min and max time for creating/editing shifts
        minTime: "07:00:00",
        maxTime: "23:00:00",
        slotLabelFormat:"HH:mm", // 0-24 on y-axis
        allDaySlot: false,
        columnFormat: 'dddd', // show only name of the day
        firstDay: 1, // first day of week is Monday
        defaultView: 'agendaWeek',
        editable: true,
        selectable: true,
        select: function(start, end) {
          DS.createEvent(start, end);
        },
        // Onclick we delete event
        eventClick: function (calEvent, jsEvent, view) {
          // event id is the same as day id
          DS.deleteEvent(calEvent._id);
        }
      });
    });
  </script>
{% endaddtoblock "js" %}
{% endblock "content" %}