{% extends "schedule/base.html" %}
{% load i18n %}

{% block "content" %} 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{ user.user.first_name }} {{ user.user.last_name }}</h3>
  </div>
  <div class="panel-body">
    <div class="row"> 
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>{% trans "Name" %}:</td>
              <td>{{ user.user.first_name }}</td>
            </tr>

            <tr>
              <td>{% trans "Last name" %}:</td>
              <td>{{ user.user.last_name }}</td>
            </tr>

            <tr>
              <td>{% trans "Date of birth" %}:</td>
              <td>{{ user.date_of_birth }}</td>
            </tr>

            <tr>
              <td>{% trans "Gender" %}:</td>
              <td>{{ user.get_gender_display }}</td>
            </tr>

            <tr>
              <td>{% trans "Date of employment" %}:</td>
              <td>{{ user.date_of_employment }}</td>
            </tr>

            <tr>
              <td>{% trans "Number of hours this month" %}:</td>
              <td>{{ user.get_current_working_hours }}</td>
            </tr>

            <tr>
              <td>{% trans "Calculated paycheck" %}:</td>
              <td>{{ user.calculate_current_paycheck }}kn</td>    
            </tr>
           
          </tbody>
        </table>
    </div>
  </div>
  <div class="panel-footer">
  {# aditional action like edit, and swap schedules #}
  </div>
  
</div>
{% endblock "content" %}