{% extends "schedule/base.html" %}
{% load sekizai_tags i18n %}


{% block "content" %} 

{# List of employees #}

  <h1>{% trans "People" %}
  {# Button for adding users #}
  <a href="{% url 'add_user_view' %}"><button class="btn btn-default transparent-bgcolor divider-left" title="{% trans 'Add user' %}"><span class="glyphicon glyphicon-plus"></span></button></a>
  </h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">{% trans "First and last name" %}</th>
      <th class="text-center">{% trans "Groups" %}</th>
      <th class="text-center">{% trans "Number of hours(month)" %}</th>
      <th class="text-center">{% trans "Employee shift" %}</th>
      <th class="text-center">{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% for employee in employees %}
      <tr>
        <td>
          <a href="{% url 'employee_view' employee_id=employee.id %}">{{ employee.user.first_name }} {{ employee.user.last_name }}</a>
        </td>
        <td>
          {% for group in employee.user_groups.all %}
            {{ group }}<br>
          {% endfor %}
        </td>
        <td>123(dummy)</td>
        <td>{{ employee.user_shift }}</td>
        <td>
        {# Edit user #}
        <a href="{% url 'edit_user_view' employee_id=employee.id %}"><button class="btn btn-default transparent-bgcolor divider-left" title="{% trans 'Edit user' %}"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
      </tr>
    {% endfor %}
 </tbody>
</table>

{# List of groups #}
<h1>{% trans "Groups" %}
{# Button for adding groups #}
<a href="{% url 'add_group_view' %}"><button class="btn btn-default transparent-bgcolor divider-left" title="{% trans 'Add group' %}"><span class="glyphicon glyphicon-plus"></span></button></a>
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">{% trans "Title" %}</th>
      <th class="text-center">{% trans "Number of members" %}</th>
      <th class="text-center">{% trans "Shifts" %}</th>
      <th class="text-center">{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% for group in groups.all %}
      <tr>
        <td>{{ group }}</td>
        <td>123</td>
        <td>
          {% for shift in group.week_shift_set.all %}
            <a href="{% url 'shift_view' shift_id=shift.id %}">{{ shift }}</a><br>
          {% endfor %}
        </td>
        <td>
          {# Add new shift #}
          <a href="{% url 'add_shift_view' %}"><button class="btn btn-default transparent-bgcolor divider-left" title="{% trans 'Add new shift' %}">Add new shift<span class="glyphicon glyphicon-plus-sign divider-left"></span></button></a>
          {# Edit group #}
          <a href="{% url 'edit_group_view' group_id=group.id %}"><button class="btn btn-default transparent-bgcolor divider-left" title="{% trans 'Edit group' %}"><span class="glyphicon glyphicon-pencil"></span></button></a>
          {# Delete group #}
          <button data-toggle="modal" data-target="#delete_group_modal" onclick="DS.sendParametersGroup('{{ group }}', '{% url 'delete_group_view' group_id=group.id %}');" class="btn btn-default transparent-bgcolor divider-left" title="{% trans 'Delete group' %}"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
    {% endfor %}
 </tbody>
</table>

{# Modal for marking ticket as resolved #}
<div class="modal fade" id="delete_group_modal" role="dialog">
  <div class="modal-dialog">
  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="group_title" class="modal-title"></h4>
      </div>

      <div class="modal-body">
        {% trans "Are you sure you want to delete this group?" %}
      </div>

      <div class="modal-footer">
        <button id="delete_group_submit" type="submit" class="btn btn-success" onclick="">{% trans "Delete" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
    
  </div>
</div>
  
{% endblock "content" %}