{% extends "schedule/base.html" %}
{% load sekizai_tags i18n crispy_forms_tags %}

{% crispy SwapForm SwapForm.helper %}

{% block "content" %} 
<h1>{{ group }}</h1>
<div class="container">
  <div class="swap-row">
    <form method="post">
      {% csrf_token %}
      {% crispy form %}
      <button class="swap-submit-btn"><span class="swap-submit-icon"></span></button>
    </form>
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        {{ error }}
      </div>
    {% endfor %}
  </div>
</div>

{# return message if swap wasnt successful #}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
      <button type="button-default" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<div id='calendar2'></div>
<div id='calendar1'></div>

{% addtoblock "js" %}
  <script type="text/javascript">

    $(document).ready(function() {
      
      $('#calendar2').fullCalendar({
        locale: 'hr',
        header: {
          left: 'next',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        minTime: "07:00:00",
        maxTime: "23:00:00",
        allDaySlot: false,
        slotLabelFormat:"HH:mm", // 0-24 on y-axis
        timeFormat: 'H(:mm)',
        firstDay: 1, // first day of week is Monday
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        defaultView: 'agendaWeek',
        events: [
          {% for event in events_logged %}
            {
              id: '{{ event.id }}',
              title: '{{ event.title }}',
              start: '{{ event.time_from }}',
              end: '{{ event.time_until }}',
              // color is green
              color: '#32CD32',
            },
          {% endfor %}
          ],
          // Onclick we choose shift
          eventClick: function (calEvent, jsEvent, view) {
            DS.chooseSwapShift(calEvent, '#calendar2');
          }
      }).hide();

    });

    $(document).ready(function() {
        
        $('#calendar1').fullCalendar({
          locale: 'hr',
          header: {
            left: 'next',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          minTime: "07:00:00",
          maxTime: "23:00:00",
          allDaySlot: false,
          slotLabelFormat:"HH:mm", // 0-24 on y-axis
          timeFormat: 'H(:mm)',
          firstDay: 1, // first day of week is Monday
          navLinks: true, // can click day/week names to navigate views
          editable: false,
          selectable: true,
          eventLimit: true, // allow "more" link when too many events
          defaultView: 'agendaWeek',
          events: [
          {% for event in events_others %}
            {
              id: '{{ event.id }}',
              title: '{{ event.title }}',
              start: '{{ event.time_from }}',
              end: '{{ event.time_until }}',
              // color is lightblue
              color: '#6495ed',
            },
          {% endfor %}
          ],
          // Onclick we choose shift
          eventClick: function (calEvent, jsEvent, view) {
            DS.chooseSwapShift(calEvent, '#calendar1');
          }
        }).hide();
        
    });
  </script>
{% endaddtoblock "js" %}
{% endblock "content" %}